@import "tailwindcss";
@plugin "daisyui";


@theme {
    /* --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 120rem; */
    --font-primary: "ADLaM Display", "sans-serif";
    --font-secondary: "Sora", "sans-serif";
  
    --color-light-primary: #FFFFFF;
    --color-light-secondary: #FFF9F4;
    --color-light-accent: #FFDC26;
    --color-light-text: #111111;
 
  }

  .swal-top-z {
  z-index: 99999 !important;
}
